/Nasir/bin/Debug/Gym.mdf
/Nasir/bin/Debug/Gym_log.ldf
/Nasir/bin/Debug/Nasir.exe
/Nasir/bin/Debug/Nasir.exe.config
/Nasir/bin/Debug/Nasir.pdb
/Nasir/bin/Debug/Nasir.vshost.exe
/Nasir/bin/Debug/Nasir.vshost.exe.config
/Nasir/bin/Debug/Nasir.vshost.exe.manifest
/Nasir/bin/Debug/WindowsFormsApplication1.vshost.exe
/Nasir/bin/Debug/WindowsFormsApplication1.vshost.exe.manifest
/Nasir/obj/x86/Debug/WindowsFormsApplication1.addworkstation1.resources
/Nasir/obj/x86/Debug/WindowsFormsApplication1.ApplianceForm.resources
/Nasir/obj/x86/Debug/WindowsFormsApplication1.CoachForm.resources
/Nasir/obj/x86/Debug/WindowsFormsApplication1.CustomerForm1.resources
/Nasir/obj/x86/Debug/WindowsFormsApplication1.ExerciseForm.resources
/Nasir/obj/x86/Debug/WindowsFormsApplication1.Form1.resources
/Nasir/obj/x86/Debug/WindowsFormsApplication1.mainpage.resources
/Nasir/obj/x86/Debug/WindowsFormsApplication1.OrderForm.resources
/Nasir/obj/x86/Debug/WindowsFormsApplication1.Properties.Resources.resources
/Nasir/obj/x86/Debug/WindowsFormsApplication1.RemoveWorkStation.resources
/Nasir/obj/x86/Debug/WindowsFormsApplication1.ReportCoach.resources
/Nasir/obj/x86/Debug/WindowsFormsApplication1.ReportCustomer.resources
/Nasir/obj/x86/Debug/WindowsFormsApplication1.searchworkstation.resources
/Nasir/obj/x86/Debug/WindowsFormsApplication1.ShowWorkStation.resources
/Nasir/obj/x86/Debug/WindowsFormsApplication1.training.resources
/Nasir/obj/x86/Debug/WindowsFormsApplication1.UpdateWorkStation.resources
/Nasir/obj/x86/Debug/WindowsFormsApplication1.UserForm.resources
/Nasir/obj/x86/Debug/WindowsFormsApplication1.Workstation1.resources
/Nasir/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/Nasir/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Nasir/obj/x86/Debug/Nasir.csproj.FileListAbsolute.txt
/Nasir/obj/x86/Debug/Nasir.csproj.GenerateResource.Cache
/Nasir/obj/x86/Debug/Nasir.csprojAssemblyReference.cache
/Nasir/obj/x86/Debug/Nasir.csprojResolveAssemblyReference.cache
/Nasir/obj/x86/Debug/Nasir.exe
/Nasir/obj/x86/Debug/Nasir.pdb
/Nasir/obj/x86/Debug/TempPE/gym.Designer.cs.dll
/Nasir/obj/x86/Debug/Nasir.csproj.CoreCompileInputs.cache
/Nasir/obj/x86/Release/Nasir.csproj.CoreCompileInputs.cache
/Nasir/obj/x86/Release/Nasir.csproj.FileListAbsolute.txt
/Nasir/obj/x86/Release/Nasir.csproj.GenerateResource.cache
/Nasir/obj/x86/Release/Nasir.csprojAssemblyReference.cache
/Nasir/obj/x86/Release/Nasir.exe
/Nasir/obj/x86/Release/Nasir.pdb
/Nasir/obj/x86/Release/TempPE/gym.Designer.cs.dll
/Nasir/obj/x86/Release/WindowsFormsApplication1.addworkstation1.resources
/Nasir/obj/x86/Release/WindowsFormsApplication1.ApplianceForm.resources
/Nasir/obj/x86/Release/WindowsFormsApplication1.CoachForm.resources
/Nasir/obj/x86/Release/WindowsFormsApplication1.CustomerForm1.resources
/Nasir/obj/x86/Release/WindowsFormsApplication1.ExerciseForm.resources
/Nasir/obj/x86/Release/WindowsFormsApplication1.Form1.resources
/Nasir/obj/x86/Release/WindowsFormsApplication1.mainpage.resources
/Nasir/obj/x86/Release/WindowsFormsApplication1.OrderForm.resources
/Nasir/obj/x86/Release/WindowsFormsApplication1.Properties.Resources.resources
/Nasir/obj/x86/Release/WindowsFormsApplication1.RemoveWorkStation.resources
/Nasir/obj/x86/Release/WindowsFormsApplication1.ReportCoach.resources
/Nasir/obj/x86/Release/WindowsFormsApplication1.ReportCustomer.resources
/Nasir/obj/x86/Release/WindowsFormsApplication1.searchworkstation.resources
/Nasir/obj/x86/Release/WindowsFormsApplication1.ShowWorkStation.resources
/Nasir/obj/x86/Release/WindowsFormsApplication1.training.resources
/Nasir/obj/x86/Release/WindowsFormsApplication1.UpdateWorkStation.resources
/Nasir/obj/x86/Release/WindowsFormsApplication1.UserForm.resources
/Nasir/obj/x86/Release/WindowsFormsApplication1.Workstation1.resources
/Nasir/bin/Release/Gym.mdf
/Nasir/bin/Release/Gym_log.ldf
/Nasir/bin/Release/Nasir.exe
/Nasir/bin/Release/Nasir.exe.config
/Nasir/bin/Release/Nasir.pdb
/.vs/Nasir/v16/.suo
/.vs/Nasir/v16/.suo
/Garage/bin/Debug/Garage.mdf
/Garage/bin/Debug/Garage_log.ldf
/Garage/bin/Debug/Nasir.exe
/Garage/bin/Debug/Nasir.exe.config
/Garage/bin/Debug/Nasir.pdb
/Garage/bin/Release/Gym.mdf
/Garage/bin/Release/Gym_log.ldf
/Garage/bin/Release/Nasir.exe
/Garage/bin/Release/Nasir.exe.config
/Garage/bin/Release/Nasir.pdb
/Garage/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/Garage/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Garage/obj/x86/Debug/Garage.csproj.CoreCompileInputs.cache
/Garage/obj/x86/Debug/Garage.csproj.FileListAbsolute.txt
/Garage/obj/x86/Debug/Garage.csproj.GenerateResource.cache
/Garage/obj/x86/Debug/Garage.csprojAssemblyReference.cache
/Garage/obj/x86/Debug/Nasir.csproj.CoreCompileInputs.cache
/Garage/obj/x86/Debug/Nasir.csproj.FileListAbsolute.txt
/Garage/obj/x86/Debug/Nasir.csproj.GenerateResource.cache
/Garage/obj/x86/Debug/Nasir.csprojAssemblyReference.cache
/Garage/obj/x86/Debug/Nasir.csprojResolveAssemblyReference.cache
/Garage/obj/x86/Debug/Nasir.exe
/Garage/obj/x86/Debug/Nasir.pdb
/Garage/obj/x86/Debug/TempPE/Garage.Designer.cs.dll
/Garage/obj/x86/Debug/TempPE/gym.Designer.cs.dll
/Garage/obj/x86/Debug/WindowsFormsApplication1.addworkstation1.resources
/Garage/obj/x86/Debug/WindowsFormsApplication1.ApplianceForm.resources
/Garage/obj/x86/Debug/WindowsFormsApplication1.CoachForm.resources
/Garage/obj/x86/Debug/WindowsFormsApplication1.CustomerForm1.resources
/Garage/obj/x86/Debug/WindowsFormsApplication1.ExerciseForm.resources
/Garage/obj/x86/Debug/WindowsFormsApplication1.Form1.resources
/Garage/obj/x86/Debug/WindowsFormsApplication1.mainpage.resources
/Garage/obj/x86/Debug/WindowsFormsApplication1.OrderForm.resources
/Garage/obj/x86/Debug/WindowsFormsApplication1.Properties.Resources.resources
/Garage/obj/x86/Debug/WindowsFormsApplication1.RemoveWorkStation.resources
/Garage/obj/x86/Debug/WindowsFormsApplication1.ReportCoach.resources
/Garage/obj/x86/Debug/WindowsFormsApplication1.ReportCustomer.resources
/Garage/obj/x86/Debug/WindowsFormsApplication1.searchworkstation.resources
/Garage/obj/x86/Debug/WindowsFormsApplication1.ShowWorkStation.resources
/Garage/obj/x86/Debug/WindowsFormsApplication1.training.resources
/Garage/obj/x86/Debug/WindowsFormsApplication1.UpdateWorkStation.resources
/Garage/obj/x86/Debug/WindowsFormsApplication1.UserForm.resources
/Garage/obj/x86/Debug/WindowsFormsApplication1.Workstation1.resources
/Garage/obj/x86/Release/Nasir.csproj.CoreCompileInputs.cache
/Garage/obj/x86/Release/Nasir.csproj.FileListAbsolute.txt
/Garage/obj/x86/Release/Nasir.csproj.GenerateResource.cache
/Garage/obj/x86/Release/Nasir.csprojAssemblyReference.cache
/Garage/obj/x86/Release/Nasir.exe
/Garage/obj/x86/Release/Nasir.pdb
/Garage/obj/x86/Release/TempPE/gym.Designer.cs.dll
/Garage/obj/x86/Release/WindowsFormsApplication1.addworkstation1.resources
/Garage/obj/x86/Release/WindowsFormsApplication1.ApplianceForm.resources
/Garage/obj/x86/Release/WindowsFormsApplication1.CoachForm.resources
/Garage/obj/x86/Release/WindowsFormsApplication1.CustomerForm1.resources
/Garage/obj/x86/Release/WindowsFormsApplication1.ExerciseForm.resources
/Garage/obj/x86/Release/WindowsFormsApplication1.Form1.resources
/Garage/obj/x86/Release/WindowsFormsApplication1.mainpage.resources
/Garage/obj/x86/Release/WindowsFormsApplication1.OrderForm.resources
/Garage/obj/x86/Release/WindowsFormsApplication1.Properties.Resources.resources
/Garage/obj/x86/Release/WindowsFormsApplication1.RemoveWorkStation.resources
/Garage/obj/x86/Release/WindowsFormsApplication1.ReportCoach.resources
/Garage/obj/x86/Release/WindowsFormsApplication1.ReportCustomer.resources
/Garage/obj/x86/Release/WindowsFormsApplication1.searchworkstation.resources
/Garage/obj/x86/Release/WindowsFormsApplication1.ShowWorkStation.resources
/Garage/obj/x86/Release/WindowsFormsApplication1.training.resources
/Garage/obj/x86/Release/WindowsFormsApplication1.UpdateWorkStation.resources
/Garage/obj/x86/Release/WindowsFormsApplication1.UserForm.resources
/Garage/obj/x86/Release/WindowsFormsApplication1.Workstation1.resources
