/Nasir/bin/Debug/Gym.mdf
/Nasir/bin/Debug/Gym_log.ldf
/Nasir/bin/Debug/Nasir.exe
/Nasir/bin/Debug/Nasir.exe.config
/Nasir/bin/Debug/Nasir.pdb
/Nasir/bin/Debug/Nasir.vshost.exe
/Nasir/bin/Debug/Nasir.vshost.exe.config
/Nasir/bin/Debug/Nasir.vshost.exe.manifest
/Nasir/bin/Debug/WindowsFormsApplication1.vshost.exe
/Nasir/bin/Debug/WindowsFormsApplication1.vshost.exe.manifest
/Nasir/obj/x86/Debug/WindowsFormsApplication1.addworkstation1.resources
/Nasir/obj/x86/Debug/WindowsFormsApplication1.ApplianceForm.resources
/Nasir/obj/x86/Debug/WindowsFormsApplication1.CoachForm.resources
/Nasir/obj/x86/Debug/WindowsFormsApplication1.CustomerForm1.resources
/Nasir/obj/x86/Debug/WindowsFormsApplication1.ExerciseForm.resources
/Nasir/obj/x86/Debug/WindowsFormsApplication1.Form1.resources
/Nasir/obj/x86/Debug/WindowsFormsApplication1.mainpage.resources
/Nasir/obj/x86/Debug/WindowsFormsApplication1.OrderForm.resources
/Nasir/obj/x86/Debug/WindowsFormsApplication1.Properties.Resources.resources
/Nasir/obj/x86/Debug/WindowsFormsApplication1.RemoveWorkStation.resources
/Nasir/obj/x86/Debug/WindowsFormsApplication1.ReportCoach.resources
/Nasir/obj/x86/Debug/WindowsFormsApplication1.ReportCustomer.resources
/Nasir/obj/x86/Debug/WindowsFormsApplication1.searchworkstation.resources
/Nasir/obj/x86/Debug/WindowsFormsApplication1.ShowWorkStation.resources
/Nasir/obj/x86/Debug/WindowsFormsApplication1.training.resources
/Nasir/obj/x86/Debug/WindowsFormsApplication1.UpdateWorkStation.resources
/Nasir/obj/x86/Debug/WindowsFormsApplication1.UserForm.resources
/Nasir/obj/x86/Debug/WindowsFormsApplication1.Workstation1.resources
/Nasir/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/Nasir/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Nasir/obj/x86/Debug/Nasir.csproj.FileListAbsolute.txt
/Nasir/obj/x86/Debug/Nasir.csproj.GenerateResource.Cache
/Nasir/obj/x86/Debug/Nasir.csprojAssemblyReference.cache
/Nasir/obj/x86/Debug/Nasir.csprojResolveAssemblyReference.cache
/Nasir/obj/x86/Debug/Nasir.exe
/Nasir/obj/x86/Debug/Nasir.pdb
/Nasir/obj/x86/Debug/TempPE/gym.Designer.cs.dll
