USE [master]
GO
/****** Object:  Database [D:\WORK\NORA\WORKSPACE\NORA_WORK\GARAGE\GARAGE.MDF]    Script Date: 4/15/2020 2:38:35 PM ******/
CREATE DATABASE [D:\WORK\NORA\WORKSPACE\NORA_WORK\GARAGE\GARAGE.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Database1', FILENAME = N'D:\work\Nora\workspace\nora_work\Garage\Garage.mdf' , SIZE = 10496KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Database1_log', FILENAME = N'D:\work\Nora\workspace\nora_work\Garage\Garage_log.ldf' , SIZE = 4288KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [D:\WORK\NORA\WORKSPACE\NORA_WORK\GARAGE\GARAGE.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [D:\WORK\NORA\WORKSPACE\NORA_WORK\GARAGE\GARAGE.MDF]
GO
/****** Object:  Table [dbo].[Appliance]    Script Date: 4/15/2020 2:38:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appliance](
	[IdAppliance] [int] NOT NULL,
	[Active] [nchar](10) NOT NULL,
	[IdWorkStation] [int] NOT NULL,
	[Used] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Appliance] PRIMARY KEY CLUSTERED 
(
	[IdAppliance] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calls]    Script Date: 4/15/2020 2:38:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calls](
	[CallCode] [int] NOT NULL,
	[CallDate] [nchar](10) NOT NULL,
	[CallTime] [nchar](10) NOT NULL,
	[WorkerId] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
	[Description] [nchar](30) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 4/15/2020 2:38:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[ProductCode] [int] NOT NULL,
	[Kind] [nchar](10) NOT NULL,
	[Color] [nchar](10) NOT NULL,
	[ClientId] [int] NOT NULL,
	[History] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 4/15/2020 2:38:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientId] [nchar](10) NOT NULL,
	[FirstName] [nchar](10) NOT NULL,
	[LastName] [nchar](10) NOT NULL,
	[Address] [nchar](10) NOT NULL,
	[Phone] [nchar](11) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[couch]    Script Date: 4/15/2020 2:38:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[couch](
	[IdCoach] [int] NOT NULL,
	[FirstName] [nchar](10) NOT NULL,
	[LastName] [nchar](10) NOT NULL,
	[City] [nchar](10) NOT NULL,
	[Address] [nchar](10) NOT NULL,
	[Phone] [nchar](10) NOT NULL,
	[Age] [int] NOT NULL,
	[Gender] [nchar](10) NOT NULL,
 CONSTRAINT [PK_couch] PRIMARY KEY CLUSTERED 
(
	[IdCoach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 4/15/2020 2:38:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[IdCustomer] [int] NOT NULL,
	[FirstName] [nchar](10) NOT NULL,
	[LastName] [nchar](10) NOT NULL,
	[City] [nchar](10) NOT NULL,
	[Street] [nchar](10) NOT NULL,
	[Picture1] [image] NOT NULL,
	[Date] [nchar](10) NOT NULL,
	[DateStart] [nchar](10) NOT NULL,
	[DateEnd] [nchar](10) NOT NULL,
	[Age] [int] NOT NULL,
	[PelephoneNumber] [nchar](11) NOT NULL,
	[idcoach] [int] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[IdCustomer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exercise]    Script Date: 4/15/2020 2:38:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exercise](
	[IdExercise] [int] NOT NULL,
	[ExerciseName] [nchar](10) NOT NULL,
	[WorkStation] [int] NOT NULL,
	[Picture] [image] NOT NULL,
 CONSTRAINT [PK_Exercise] PRIMARY KEY CLUSTERED 
(
	[IdExercise] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceDetails]    Script Date: 4/15/2020 2:38:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetails](
	[CodeTreatment] [int] NOT NULL,
	[InvoiceNumber] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Kind] [nchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KindTreatments]    Script Date: 4/15/2020 2:38:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KindTreatments](
	[Number] [int] NOT NULL,
	[KindTreatment] [nchar](20) NOT NULL,
	[Price] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order]    Script Date: 4/15/2020 2:38:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[idorder] [int] NOT NULL,
	[dateord] [nchar](10) NOT NULL,
	[timeord] [nchar](10) NOT NULL,
	[idcoach] [int] NOT NULL,
	[codeappliance] [nchar](10) NOT NULL,
	[amountord] [int] NOT NULL,
	[noteord] [nchar](20) NULL,
 CONSTRAINT [PK_order] PRIMARY KEY CLUSTERED 
(
	[idorder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 4/15/2020 2:38:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductCode] [int] NOT NULL,
	[ProductAmount] [int] NOT NULL,
	[Name] [nchar](10) NOT NULL,
	[Price] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 4/15/2020 2:38:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierId] [nchar](10) NOT NULL,
	[Name] [nchar](10) NOT NULL,
	[Company] [nchar](10) NOT NULL,
	[Address] [nchar](10) NOT NULL,
	[Phone] [nchar](11) NOT NULL,
	[Fax] [nchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[testnew]    Script Date: 4/15/2020 2:38:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[testnew](
	[Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Training]    Script Date: 4/15/2020 2:38:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Training](
	[IdTraining] [int] NOT NULL,
	[IdCustomer] [nchar](10) NOT NULL,
	[Start] [nchar](10) NOT NULL,
	[Finish] [nchar](10) NOT NULL,
	[Active] [nchar](10) NOT NULL,
	[IdCoach] [int] NOT NULL,
 CONSTRAINT [PK_Training] PRIMARY KEY CLUSTERED 
(
	[IdTraining] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Treatments]    Script Date: 4/15/2020 2:38:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Treatments](
	[Idtreatment] [int] NOT NULL,
	[IdCustomer] [int] NOT NULL,
	[NameCustomer] [nchar](10) NOT NULL,
	[IdWorker] [int] NOT NULL,
	[NameWorker] [nchar](10) NOT NULL,
	[Date] [nchar](10) NOT NULL,
	[Time] [nchar](10) NOT NULL,
	[IdCar] [int] NOT NULL,
	[KindCar] [nchar](10) NOT NULL,
	[Total] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 4/15/2020 2:38:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[idusr] [int] NOT NULL,
	[password] [nchar](10) NOT NULL,
	[firstname] [nchar](10) NOT NULL,
	[lastname] [nchar](10) NOT NULL,
	[phone] [nchar](10) NOT NULL,
	[datestart] [nchar](10) NOT NULL,
	[roleusr] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/15/2020 2:38:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] NOT NULL,
	[Password] [nchar](10) NOT NULL,
	[Level] [nchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workers]    Script Date: 4/15/2020 2:38:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workers](
	[WorkerId] [int] NOT NULL,
	[FirstName] [nchar](10) NOT NULL,
	[LastName] [nchar](10) NOT NULL,
	[Address] [nchar](10) NOT NULL,
	[Phone] [nchar](11) NOT NULL,
	[BirthDate] [nchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkStation]    Script Date: 4/15/2020 2:38:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkStation](
	[IdWorkStation] [int] NOT NULL,
	[Name] [nchar](10) NOT NULL,
	[Amount] [int] NOT NULL,
	[Place] [nchar](10) NOT NULL,
	[Floor] [nchar](10) NOT NULL,
 CONSTRAINT [PK_WorkStation] PRIMARY KEY CLUSTERED 
(
	[IdWorkStation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appliance]  WITH CHECK ADD  CONSTRAINT [FK_Appliance_WorkStation] FOREIGN KEY([IdWorkStation])
REFERENCES [dbo].[WorkStation] ([IdWorkStation])
GO
ALTER TABLE [dbo].[Appliance] CHECK CONSTRAINT [FK_Appliance_WorkStation]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customer_couch] FOREIGN KEY([idcoach])
REFERENCES [dbo].[couch] ([IdCoach])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customer_couch]
GO
ALTER TABLE [dbo].[Exercise]  WITH CHECK ADD  CONSTRAINT [FK_Exercise_WorkStation] FOREIGN KEY([WorkStation])
REFERENCES [dbo].[WorkStation] ([IdWorkStation])
GO
ALTER TABLE [dbo].[Exercise] CHECK CONSTRAINT [FK_Exercise_WorkStation]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_order_couch] FOREIGN KEY([idcoach])
REFERENCES [dbo].[couch] ([IdCoach])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_order_couch]
GO
ALTER TABLE [dbo].[Training]  WITH CHECK ADD  CONSTRAINT [FK_Training_couch] FOREIGN KEY([IdCoach])
REFERENCES [dbo].[couch] ([IdCoach])
GO
ALTER TABLE [dbo].[Training] CHECK CONSTRAINT [FK_Training_couch]
GO
USE [master]
GO
